.page {
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.page__header_grey {
    background-color: #F6F2F2;
}

/* Header */

.header {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 1250px;
    min-height: 90px;
    margin: 29px auto 0;
    background: #000000;
}

.header__navigation {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__items {
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-height: 90px;
}

.active-link {
    background-color: #FF3F40;
    text-decoration: none;
}

.menu__items:hover {
    background-color: #FF3F40;
}

.menu__link {
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: #e0e0e0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

/* Intro */

.page__content {
    flex-grow: 1;
}

.intro {
    padding-top: 102px;
    padding-bottom: 94px;
}

.intro__content {
    position: relative;
    bottom: 12px;
    width: 616px;
    margin-bottom: 20px;
    margin-right: 74px;
}

.intro__heading {
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 60px;
    line-height: 72px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.5;
}

.intro__text {
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 28px;
    max-width: 520px;
    margin-bottom: 62px;
    font-weight: 200;
    margin-top: 36px;
}

.action-button {
   font-family: 'OpenSans', Arial, Helvetica, sans-serif;
   box-sizing: border-box;
   display: inline-block;
   width: 228px;
   height: 56px;
   padding: 16px 0;
   text-align: center;
   text-decoration: none;
   border-radius: 6px;
}

.action-button_red {
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #FF2D2D;
}

.intro__img {
    width: 554px;
    height: 360px;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1250px;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1vw;
}

/* Services */

.services {
    padding-top: 108px;
    padding-bottom: 52px;
    border-bottom: 1px solid #ECECEC;
}

.services__lead {
    flex: 1 1 502px;
    max-width: 502px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.services__heading {
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 6px;
    margin-bottom: 28px;
    text-transform: uppercase;
    font-size: 42px;
}

.services__text {
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 28px;
    margin-bottom: 50px;
}

.action-button_white {
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #FF2D2D;
    background-color: #FFFFFF;
    border: 2px solid #FF0000;
}

.services__blocks {
    flex: 1 1;
    max-width: 610px;
    display: flex;
    flex-wrap: wrap;
}

/* Service */

.service {
    flex: 1 1 288px;
    width: 288px;
    margin-bottom: 50px;
    margin-left: 16px;
}

.service__heading {
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    margin: 0;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 12px;
}

.service__heading::before {
    display: block;
    width: 41px;
    height: 41px;
    margin-bottom: 22px;
}

.service__text {
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 28px;
}

.service__heading_manage::before {
    content: url('../img/service-1.svg');
}

.service__heading_ux::before {
    content: url('../img/service-2.svg');
}

.service__heading_logo::before {
    content: url('../img/service-3.svg');
}

.service__heading_animation::before {
    content: url('../img/service-4.svg');
}

/* Feature products */

.feature {
    padding-top: 104px;
    padding-bottom: 52px;
}

.feature__header {
    width: 100%;
    text-align: center;
    margin-bottom: 66px;
}

.feature__headind {
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    font-size: 42px;
    text-transform: uppercase;
    padding-left: 14px;
    margin-bottom: 16px;
}

.feature__text {
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 28px;
    max-width: 500px;
    margin: 0 auto 30px;
}

.header__line {
  border: 1px solid red;
  width: 134px;
  max-height: 4px;
}

.products__filter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    margin-bottom: 60px;
}

.products__link {
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    position: relative;
    text-transform: uppercase;
    left: 46px;
    color: #000000;
    margin-right: 56px;
    font-size: 22px;
    line-height: 24px;
    text-decoration: none;
}

.products__link_active {
    color: #FF2D2D;
    opacity: 1;
}

.products__link:hover {
    color: #FF2D2D;
}

.products {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    flex: 1 1 24%;
    max-width: 298px;
    height: 292px;
    margin-bottom: 18px;
    object-fit: cover;
}

.product:hover {
    cursor: pointer;
}



